div {
  text-align: center;
  background-color:rgba(0, 96, 175, 0.747);
  font-family: cursive;
  font-size:150%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
button {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  height: 10%;
  transition-duration: 0.4s;
  background-color:rgba(0, 96, 175, 0.747);
  border-radius: 25px;
  font-family: cursive;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 90%;
}
button:hover {
  background-color: rgb(0, 105, 190);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
input {
  background-color: lightgray;
  width: 40%;
  position: absolute;
  top: 10%;
  left: 30%;
}